<html>
<head>

  <% include head %>

</head>
<body>

  <nav class="navbar navbar-inverse" role="navigation">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">Work Orbit</a>
      <ol class="nav navbar-nav">
        <li class=""><a href="/map/40">Commuting Options</a></li>
        <li class=""><a href="/about">About</a></li>
      </ol>
    </div>
  </nav>
