<% include ../views/partials/header %>

<section class="video-wrapper">
    <video autoplay loop loop="loop" preload="auto" id="pretzel-video" class="video-playing">
        <source src="splash.mp4" type="video/mp4">
    </video>
    <div class="learn-more"></div>
</section>

<section class="intro-wrapper container">

    <div class="col-sm-offset-3 col-sm-6 text-center">

        <form class="form-group">
            <div class="row">
                <img src="logo-blue.png">
                <h3>Where will you be working?</h3>
                <input id="inputLocation" type="text" method="post" class="form-control" name="location" placeholder="Please enter your future Seattle work address" required >

                <div id="alert" class="alert alert-info hidden" role="alert">Please enter a valid address</div>

                <h3>How long are you willing to commute?</h3>
            </div>

            <div class="row">
                <input id="inputMode" value="car" type="text" method="post" class="hidden" name="mode"/>

                <button class="inputTime btn btn-primary" id="inputTime20" value="20" type="submit" class="btn btn-primary" name="time">20 min</button>
                <button class="inputTime btn btn-primary" id="inputTime40" value="40" type="submit" class="btn btn-primary" name="time">40 min</button>
                <button class="inputTime btn btn-primary" id="inputTime60" value="60" type="submit" class="btn btn-primary" name="time">60 min</button>
            </div>
        </form>

    </div>

</section>


<script>

</script>


<% include ../views/partials/footer %>
